<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.umss.app.br.broadcast.dao.message.category.MCategoryMapper">
    <!--  Result Maps -->
    <resultMap id="CategoriesMap" type="io.umss.app.br.broadcast.core.message.Category">
        <id     column="msct_uid"              property="uid"            javaType="long"/>
        <result column="msct_status"           property="status"         javaType="int"/>
        <result column="msct_name"             property="name"           javaType="string"/>
        <result column="msct_create_date"      property="createDate"     javaType="java.sql.Timestamp"/>
        <result column="msct_last_update_date" property="lastUpdateDate" javaType="java.sql.Timestamp"/>
    </resultMap>

    <resultMap id="SimpleCategoryMap" type="io.umss.app.br.broadcast.core.message.Category">
        <id     column="msct_uid"              property="uid"            javaType="long"/>
        <result column="msct_status"           property="status"         javaType="int"/>
        <result column="msct_name"             property="name"           javaType="string"/>
        <result column="msct_create_date"      property="createDate"     javaType="java.sql.Timestamp"/>
        <result column="msct_last_update_date" property="lastUpdateDate" javaType="java.sql.Timestamp"/>

        <collection property="listSubscription" ofType="io.umss.app.br.broadcast.core.message.Subscription" javaType="java.util.List">
            <id column="mscc_uid" javaType="long"/>
            <id column="mssb_uid" javaType="long"/> 

            <result property="uid"        column="msss_uid"         javaType="long"/>
            <result property="status"     column="msss_status"      javaType="int"/>
            <result property="createDate" column="msss_create_date" javaType="java.sql.Timestamp"/>

            <association column="mscc_uid" property="classChannel" javaType="io.umss.app.br.broadcast.core.message.ClassChannel">
                <id     column="mscc_uid"    property="uid"    javaType="long"/>
                <result column="mscc_status" property="status" javaType="int"/>
                <result column="mscc_name"   property="name"   javaType="string"/>
            </association>

            <association column="mssb_uid" property="subscriber" javaType="io.umss.app.br.broadcast.core.message.Subscriber">
                <id     column="mssb_uid"       property="uid"       javaType="long"/>
                <result column="mssb_status"    property="status"    javaType="int"/>
                <result column="mssb_cellphone" property="cellphone" javaType="string"/>
            </association>
        </collection>

        <collection property="listBroadcastMessage" ofType="io.umss.app.br.broadcast.core.message.BroadcastMessage" javaType="java.util.List">
            <id column="msms_uid" javaType="long"/>

            <result property="uid"        column="msbm_uid"         javaType="long"/>
            <result property="status"     column="msbm_status"      javaType="int"/>
            <result property="createDate" column="msbm_create_date" javaType="java.sql.Timestamp"/>

            <association column="msms_uid" property="message" javaType="io.umss.app.br.broadcast.core.message.Message">
                <id     column="msms_uid"    property="uid"    javaType="long"/>
                <result column="msms_status" property="status" javaType="int"/>
                <result column="msms_title"  property="title"  javaType="string"/>
            </association>
        </collection>
    </resultMap>

    <!-- Queries -->
    <select id="getRecordById" resultMap="SimpleCategoryMap">
        <![CDATA[
            SELECT *
              FROM msct_category
         LEFT JOIN msss_subscription
                ON msct_uid = msss_msct_uid
         LEFT JOIN mscc_class_channel
                ON msss_mscc_uid = mscc_uid
         LEFT JOIN mssb_subscriber
                ON msss_mssb_uid = mssb_uid
         LEFT JOIN msbm_broadcast_message
                ON msct_uid = msbm_msct_uid
         LEFT JOIN msms_message
                ON msbm_msms_uid = msms_uid
        ]]>
        <where>
               AND msct_uid = #{recordId}
        </where>
    </select>

    <select id="getAllRecords" resultMap="CategoriesMap">
        <![CDATA[
            SELECT *
              FROM (
        ]]>
        <include refid="sqlGetAllRecords"/>
        <![CDATA[
                   ) AS records
          ORDER BY msct_uid
        ]]>
        <if test="limit != null">
             LIMIT ${limit} OFFSET ${offset}
        </if>
    </select>

    <select id="getCountAllRecords" resultType="int">
        <![CDATA[
            SELECT COUNT(DISTINCT msct_uid)
              FROM (
        ]]>
        <include refid="sqlGetAllRecords"/>
        <![CDATA[
                   ) AS records
        ]]>
    </select>

    <sql id="sqlGetAllRecords">
        <![CDATA[
            SELECT *
              FROM msct_category
        ]]>
        <where>
            <if test="recordStatus != null">
               AND msct_status = #{recordStatus}
            </if>
            <if test="recordName != null">
               AND msct_name LIKE '%' || #{recordName} || '%'
            </if>
        </where>
    </sql>

    <insert id="saveRecord" useGeneratedKeys="true" keyProperty="uid">
        <![CDATA[
            INSERT INTO msct_category
                       (msct_uid,
                        msct_status,
                        msct_name)
                VALUES (#{category.uid},
                        #{category.status},
                        #{category.name});
        ]]>
    </insert>

    <update id="updateRecord">
        <![CDATA[
          UPDATE msct_category
        ]]>
        <set>
            <if test="category.status != null">
                 msct_status = #{category.status},
            </if>
            <if test="category.name != null">
                 msct_name = #{category.name},
            </if>
                 msct_last_update_date = CURRENT_TIMESTAMP
        </set>
        <where>
                 msct_uid = #{category.uid}
        </where>
    </update>

    <delete id="deleteRecord">
        <![CDATA[
         UPDATE msct_category
        ]]>
        <set>
                msct_status = 0,
                msct_last_update_date = CURRENT_TIMESTAMP
        </set>
        <where>
                msct_uid = #{category.uid}
        </where>
    </delete>

    <select id="getNextVal" resultType="java.lang.Long">
        SELECT NEXTVAL('msct_seq')
    </select>
</mapper>